app-bench {
  border-radius: 20px;
  display: flex;
  flex-flow: row wrap;
  padding: 30px;
  align-items: center;
  justify-content: center;
  z-index: 200;

  app-cell {
    padding: 1px;
    margin: 1px;
  }
}
