<div id="gameplay">
    <div class="game-menu">
        <div id="buttons">
            <button class="btn btn-primary" id="reset_button" type="submit" onclick="reset()">Start New Game</button>
            <button class="btn btn-primary" id="peel_button" type="submit" onclick="peel()">Peel</button>
            <button class="btn btn-primary" id="select_button" type="submit" onclick="selectAllTiles()">Select All Tiles</button>
            <button class="btn btn-primary" id="bananagrams_button" type="submit" onclick="bananagrams()">Bananagrams</button>
            <button class="menu" onclick="swap()">Swap Tile</button>
            <div id="tiles_remaining">
                <p>Tiles Remaining</p>
                <p id="tiles_remaining_count"></p>
            </div>
        </div>
        <div id="bench"></div>
    </div>

    <div id="board-viewport">
        <div id="board"></div>
    </div>

    <footer>
        <p>Your game ID is. Share your current URL with friends and they can access the game too!</p>
    </footer>

</div>