@import '../../../styles.scss';

app-board {
  flex-grow: 2;
  overflow: scroll;
  height: 400px;
  width: 96%;
  position: relative;
}

#board-viewport {
  position: relative;
  margin: 0 auto;


  #board {
    display: grid;
    grid-template-columns: repeat($columns, $cell-dimension);
    grid-template-rows: repeat($rows, $cell-dimension);
    box-sizing: border-box;
    grid-row-gap: 2px;
    grid-column-gap: 2px;

    .cell {
      border-radius: 2px;
    }
  }
}
