@import '../../../styles.scss';

:host {
  z-index: 50;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  min-width: $cell-dimension;
  min-height: $cell-dimension;
  margin: 0;
  padding: 0;
  border: 1px solid $off-white;
}