<div class="game-container" id="css3-background-texture">
  <div class="landing flex">
    <h1>Chalkful</h1>
    <p class="caption">
      Welcome to Chalkful, the destination for Bananagrams online! Once you start, you will recieve a URL to share with your friends
      so they can join.
    </p>
    <input id="game_id" type="text" readonly>
    <button id="game_id_submit" class="btn btn-primary" type="submit" onclick="createGame()">Create New Game</button>
    <div id="error"></div>
  </div>
</div>


<router-outlet></router-outlet>