# Ignore caches and checkpoints
.ipynb_checkpoints/
.mypy_cache
__pycache__/

# Ignore VScode
.vscode/

# Ignore virtual environments
env/
venv/
.env/
.venv/

# Ignore OS specific files
.DS_Store

# Ignore logs and output
profile.txt
logs/

# Ignore test files
.coverage
htmlcov/

# Ignore style files
*.map

# Ignore compiled CSS
*.css
*.css.map