@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Noto+Sans|Sigmar+One&display=swap'); 
  body {
    padding: 0;
    margin: 0;
    height: 100vh; }

    .pos-a {
      position: absolute; }

      .pos-r {
        position: relative; }

        .flex {
          display: flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center; }

          h1 {
            font-family: 'Luckiest Guy', cursive;
            font-size: 3em;
            letter-spacing: 0.15em; }

            p {
              font-family: 'Noto Sans', arial, sans-serif; }

              .home-container {
                height: 100vh;
                color: white;
                width: 100%;
                height: 100%;
                margin: 0 auto;
                -webkit-box-shadow: 0 0 25px 0 #fff;
                background: #0057F9;
                background: -moz-linear-gradient(-45deg, #0057F9 0%, #0057F9 24%, #555555 25%, #0057F9 26%,
                                #0057F9 50%, #0057F9 74%, #555555 75%, #0057F9 76%, #0057F9 100%);
                background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #0057F9),
                                color-stop(24%, #0057F9), color-stop(25%, #555555), color-stop(26%, #0057F9),
                                color-stop(50%, #0057F9), color-stop(74%, #0057F9), color-stop(75%, #555555),
                                color-stop(76%, #0057F9), color-stop(100%, #0057F9));
                background: -webkit-linear-gradient(-45deg, #0057F9 0%, #0057F9 24%, #555555 25%, #0057F9 26%,
                                #0057F9 50%, #0057F9 74%, #555555 75%, #0057F9 76%, #0057F9 100%);
                background: -o-linear-gradient(-45deg, #0057F9 0%, #0057F9 24%, #555555 25%, #0057F9 26%,
                                #0057F9 50%, #0057F9 74%, #555555 75%, #0057F9 76%, #0057F9 100%);
                background: -ms-linear-gradient(-45deg, #0057F9 0%, #0057F9 24%, #555555 25%, #0057F9 26%,
                                #0057F9 50%, #0057F9 74%, #555555 75%, #0057F9 76%, #0057F9 100%);
                background: linear-gradient(135deg, #0057F9 0%, #0057F9 -10%, #0068F9 -24%, #0057F9 54%,
                                #0057F9 97%, #0057FA 136%, #0068F9 195%, #0057F9 4.8%, #0057F9 70%);
                background-size: 70px 70px;
                position: relative;
                display: flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center; }

                .gradient {
                  position: absolute;
                  width: inherit;
                  height: inherit;
                  background: -moz-radial-gradient(center, ellipse cover, rgba(96, 152, 255, 0.25) 0%,
                                    rgba(198, 218, 255, 0) 100%);
                  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,
                                    rgba(96, 152, 255, 0.55)), color-stop(100%, rgba(198, 218, 255, 0)));
                  background: -webkit-radial-gradient(center, ellipse cover, rgba(96, 152, 255, 0.55) 0%,
                                    rgba(198, 218, 255, 0) 100%);
                  background: -o-radial-gradient(center, ellipse cover, rgba(96, 152, 255, 0.55) 0%,
                                    rgba(198, 218, 255, 0) 100%);
                  background: -ms-radial-gradient(center, ellipse cover, rgba(96, 152, 255, 0.55) 0%,
                                    rgba(198, 218, 255, 0) 100%);
                  background: radial-gradient(ellipse at center, rgba(96, 152, 255, 0.55) 0%, rgba(198,
                                    218, 255, 0) 100%); }

                  .home-content {
                    flex-flow: column wrap;
                    width: 60%;
                    z-index: 100; }

                    .rules-container {
                      position: absolute;
                      transform: rotate(-90deg);
                      top: 40px;
                      left: 0%;
                      box-shadow: 0px 3px 10px #0045c6; }
