@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy|Noto+Sans|Sigmar+One&display=swap");
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.pos-a {
  position: absolute;
}

.pos-r {
  position: relative;
}

.flex {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 3em;
  letter-spacing: 0.15em;
}

p {
  font-family: "Noto Sans", arial, sans-serif;
}

.home-container {
  height: 100vh;
  color: white;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 25px 0 #fff;
  background: #FFD754;
  background: -moz-linear-gradient(-45deg, #FFD754 0%, #FFD754 24%, #555555 25%, #FFD754 26%, #FFD754 50%, #FFD754 74%, #555555 75%, #FFD754 76%, #FFD754 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #FFD754), color-stop(24%, #FFD754), color-stop(25%, #555555), color-stop(26%, #FFD754), color-stop(50%, #FFD754), color-stop(74%, #FFD754), color-stop(75%, #555555), color-stop(76%, #FFD754), color-stop(100%, #FFD754));
  background: -webkit-linear-gradient(-45deg, #FFD754 0%, #FFD754 24%, #555555 25%, #FFD754 26%, #FFD754 50%, #FFD754 74%, #555555 75%, #FFD754 76%, #FFD754 100%);
  background: -o-linear-gradient(-45deg, #FFD754 0%, #FFD754 24%, #555555 25%, #FFD754 26%, #FFD754 50%, #FFD754 74%, #555555 75%, #FFD754 76%, #FFD754 100%);
  background: -ms-linear-gradient(-45deg, #FFD754 0%, #FFD754 24%, #555555 25%, #FFD754 26%, #FFD754 50%, #FFD754 74%, #555555 75%, #FFD754 76%, #FFD754 100%);
  background: linear-gradient(135deg, #FFD754 0%, #FFD754 -10%, #FFD754 -24%, #FFD754 54%, #FFD754 97%, #FFD754 136%, #FFD754 195%, #FFD754 4.8%, #FFD754 70%);
  background-size: 70px 70px;
  position: relative;
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.gradient {
  position: absolute;
  width: inherit;
  height: inherit;
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 239, 186, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 239, 186, 0.55)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 239, 186, 0.55) 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 239, 186, 0.55) 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 239, 186, 0.55) 0%, rgba(255, 255, 255, 0) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 239, 186, 0.55) 0%, rgba(255, 255, 255, 0) 100%);
}

.home-content {
  flex-flow: column wrap;
  width: 60%;
  z-index: 100;
}

.rules-container {
  position: absolute;
  transform: rotate(-90deg);
  top: 40px;
  left: 0%;
  box-shadow: 0px 3px 10px #ffcb21;
}

/*# sourceMappingURL=styles.css.map */
