@import '../../../styles.scss';

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 50vh;
  background-color: #fff;
  color: $off-black;
  transform: translate(-50%, -50%);
  z-index: 201;
  border-radius: 10px;
  background-color: $off-white;
  @include flexbox();
  box-shadow: 20px 20px 30px $off-black;

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
  }

  .content {
    @include flexbox();
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    margin: 0px 30px;
    text-align: center;

    .buttons {
      @include flexbox();
      justify-content: space-between;
    }
  }
}

// ul#winning-words-list {
//   li {
//     @include flexbox();
//     flex-flow: row nowrap;
//     justify-content: flex-start;
//   }
// }

td,
th {
  text-align: left;
}
