#parent {
  position: relative;
  height: 500px;
  font-family: arial;
  width: 100%;
}

#board {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  box-sizing: border-box;
  background-color: antiquewhite  ;
  width: 100%;
  height: 100%;
}

#bench {
  background-color: darken(antiquewhite, 10%);
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap; 
  padding: 20px;
  align-items: center;
  width: 40px;
  z-index: 200;
  position: absolute;
  top: 10px;
  left: 10px;
}

.cell {
  z-index: 50;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid rgba(200,200,200,0.2);
}

.tile {
  padding: 5px;
  background-color: darken(burlywood, 7%);
  z-index: 1;
  color: white;
  cursor: pointer;
  background-color: burlywood;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  border: 3px solid darken(burlywood, 30%);
  margin: 1px;
  z-index: 999;
}

.cell.over {
  opacity: 0.2;
  background-color: black;
}
