$rows: 35;
$columns: 60;
$cell-dimension: 40px;


#board-viewport {
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: scroll;
}

.game-header {
  height: 20vh;
  box-sizing: border-box;
  padding: 10px;
}

#board {
  display: grid;
  grid-template-columns: repeat($columns, $cell-dimension);
  grid-template-rows: repeat($rows, $cell-dimension);
  box-sizing: border-box;
  background-color: darken(antiquewhite, 13%);

  .cell {
    border-radius: 2px;
    background-color: antiquewhite;
    border: 1px solid rgba(darken(antiquewhite, 20%), 0.5);
  }
}

#bench {
  background-color: darken(antiquewhite, 10%);
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
  align-items: center;
  width: 40px;
  z-index: 200;
  position: absolute;
  top: 15vh;
  left: 2vw;

  .cell {
    min-width: $cell-dimension;
    min-height: $cell-dimension;
    padding: 1px;
    margin: 1px;
  }
}

.cell {
  z-index: 50;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.tile {
  background-color: darken(burlywood, 7%);
  z-index: 1;
  color: white;
  cursor: pointer;
  background-color: burlywood;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  padding: 5px;
  text-align: center;
  border: 3px solid darken(burlywood, 30%);
  margin: 1px;
  z-index: 999;
}

.cell.over {
  opacity: 0.2;
  background-color: darken(antiquewhite, 30%);
}
