// ********** NORMALIZE ********** //
body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

@mixin flexbox() {
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

@mixin pos-a-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pos-a {
    position: absolute;
}

.pos-r {
    position: relative;
}

.flex {
    @include flexbox()
}

// ********** FONTS ********** //
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Noto+Sans|Sigmar+One&display=swap');

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 3em;
    letter-spacing: .15em;
}

p {
    font-family: 'Noto Sans', arial, sans-serif;
}


// ********** COLORS ********** //

$primary-blue: #0057F9;
$primary-yellow: #FFD754;

// Color scheme: https://coolors.co/ffff99-91bfff-ffd754-1034a6-0057f9

// ********** INDEX ********** //

.home-container {
    // background-color: blue;
    height: 100vh;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0 auto;


    -webkit-box-shadow: 0 0 25px 0 #fff;
    background: $primary-yellow;

    background: -moz-linear-gradient(-45deg, $primary-yellow 0%, $primary-yellow 24%, #555555 25%, $primary-yellow 26%, $primary-yellow 50%, $primary-yellow 74%, #555555 75%, $primary-yellow 76%, $primary-yellow 100%);

    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $primary-yellow), color-stop(24%, $primary-yellow), color-stop(25%, #555555), color-stop(26%, $primary-yellow), color-stop(50%, $primary-yellow), color-stop(74%, $primary-yellow), color-stop(75%, #555555), color-stop(76%, $primary-yellow), color-stop(100%, $primary-yellow));
    background: -webkit-linear-gradient(-45deg, $primary-yellow 0%, $primary-yellow 24%, #555555 25%, $primary-yellow 26%, $primary-yellow 50%, $primary-yellow 74%, #555555 75%, $primary-yellow 76%, $primary-yellow 100%);
    background: -o-linear-gradient(-45deg, $primary-yellow 0%, $primary-yellow 24%, #555555 25%, $primary-yellow 26%, $primary-yellow 50%, $primary-yellow 74%, #555555 75%, $primary-yellow 76%, $primary-yellow 100%);
    background: -ms-linear-gradient(-45deg, $primary-yellow 0%, $primary-yellow 24%, #555555 25%, $primary-yellow 26%, $primary-yellow 50%, $primary-yellow 74%, #555555 75%, $primary-yellow 76%, $primary-yellow 100%);
    background: linear-gradient(135deg, $primary-yellow 0%, $primary-yellow -10%, $primary-yellow -24%, $primary-yellow 54%, $primary-yellow 97%, $primary-yellow 136%, $primary-yellow 195%, $primary-yellow 4.8%, $primary-yellow 70%);

    background-size: 70px 70px;
    position: relative;
    @include flexbox();
}

.gradient {
    position: absolute;
    width: inherit;
    height: inherit;
    background: -moz-radial-gradient(center, ellipse cover, rgba(lighten($primary-yellow, 20%), 0.25) 0%, rgba(lighten($primary-yellow, 40%), 0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(lighten($primary-yellow, 20%), 0.55)), color-stop(100%, rgba(lighten($primary-yellow, 40%), 0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(lighten($primary-yellow, 20%), 0.55) 0%, rgba(lighten($primary-yellow, 40%), 0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(lighten($primary-yellow, 20%), 0.55) 0%, rgba(lighten($primary-yellow, 40%), 0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(lighten($primary-yellow, 20%), 0.55) 0%, rgba(lighten($primary-yellow, 40%), 0) 100%);
    background: radial-gradient(ellipse at center, rgba(lighten($primary-yellow, 20%), 0.55) 0%, rgba(lighten($primary-yellow, 40%), 0) 100%);
}

.home-content {
    flex-flow: column wrap;
    width: 60%;
    z-index: 100;
}

.rules-container {
    position: absolute;
    transform: rotate(-90deg);
    top: 40px;
    left: 0%;
    box-shadow: 0px 3px 10px darken($primary-yellow, 10%);
}