@import '../../../styles.scss';

app-game {
  width: 100%;
  height: 100%;
  @include flexbox();
  flex-flow: column nowrap;
  // border: 6px solid yellow;

  .tile.selected {
    opacity: 0.5;
  }

  .cell.over {
    opacity: 0.2;
    background-color: darken(antiquewhite, 30%);
  }

  // footer
  footer {
    flex-grow: 1;
    padding: 12px 5px;

    p {
      margin: 0;
    }
  }
}
