@import '../../../styles.scss';

* {
  text-align: center;
  margin: 0 auto;
}

label {
  font-family: "Gaegu";
}

input {
  font-size: 20px;
}

#join_game {
  @include flexbox();
  flex-flow: column nowrap;
}


div.player-info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  >* {
    margin: 0;
  }

  button.edit_player_icon {
    display: inline-block;
    padding: 0px 0px 0px 10px;
  }
}

// lobby wait
#options {
  @include flexbox();
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  #players-in-lobby {
    width: 100%;

    #players {
      width: 100%;
      @include flexbox();
      flex-flow: row wrap;
      justify-content: flex-start;
      align-content: space-around;

      .player {
        width: 33%;
        height: 33%;
      }
    }
  }
}
