@import '../../../styles.scss';

app-menu-gameplay {
  flex-grow: 1;
  width: 100%;
}

#buttons {
  @include flexbox();
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

  button {
    padding: 6px 30px;
    font-size: 20px;
  }
}
