
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Bananagrams</title>

        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/css/game.css') }}" />
    </head>

<body>
    <div class="main">
        <div class="gradient"></div>
        <div>
            <p>Your game ID is {{id}}. Share your current URL with friends and they can access the game too!</p>
        </div>
        <div id="join_game">
            <p>First things first, enter your username to join the game.</p>
            <input id="player_id" type="text">
            <button type="submit" onclick="player_join()">Join the Game</button>
        </div>
        <div id="buttons">
            <button type="submit" onclick="start_game()">Deal the Tiles</button>
            <button type="submit" onclick="split()">Split</button>
            <button type="submit" onclick="peel()">Peel</button>
            <button type="submit" onclick="swap()">Swap</button>
            <button type="submit" onclick="bananagrams()">Bananagrams</button>
            <button type="submit" onclick="continue_game()">Continue Game</button>
            <button type="submit" onclick="reset()">Reset Game</button>
        </div>
        <div>

        </div>
    </div>
</body>

</html>

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
    integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

<script type="text/javascript" charset="utf-8">
    // Global variables needed
    var socket = io();
    var href_parts = window.location.href.split("/");
    var game_name = href_parts[href_parts.length - 1];
    var player_id = null;
    var tiles = [];

    // --------------------------------------
    // Actions taken on connect

    // Join the necessary room
    socket.on("connect", function () {
        socket.emit("join", {
            "name": game_name
        });
    });

    // Load the current state of the board, or create a new one
    socket.on("connect", function () {
        socket.emit("load_board", {
            "name": game_name
        })
    });

    // --------------------------------------
    // Render board action
    socket.on("render_board", function (resp) {
        console.log(resp)
        game_state = JSON.parse(resp.payload)
        render_board(game_state)
    });

    function render_board(resp) {
        // Game state
        console.log(resp);
        tiles = resp["players"][player_id];
    }

    // --------------------------------------
    //Client functions

    // Manually load the current board
    function load_board() {
        socket.emit("load_board", {
            "name": game_name
        })
    }

    // Join the game
    function player_join() {
        player_id = document.getElementById("player_id").value;
        socket.emit("player_join", {
            "name": game_name,
            "player_id": player_id
        })
    }

    // Start the game
    function start_game() {
        socket.emit("start_game", {
            "name": game_name,
        })
    }

    // Perform the split action
   function split() {
       socket.emit("split", {
            "name": game_name,
        })
   }

    // Perform the peel action
   function peel() {
       socket.emit("peel", {
            "name": game_name,
        })
   }

    // Perform a swap
    function swap() {
        var letter = tiles.pop();
        socket.emit("swap", {
            "name": game_name,
            "letter": letter,
            "player_id": player_id
        })
    }

    // Bananagrams
    function bananagrams() {
        socket.emit("bananagrams", {
            "name": game_name,
        })
    }

    // Continue the game
    function continue_game() {
        socket.emit("continue_game", {
            "name": game_name,
        })
    }

   // Reset the game
    function reset() {
        socket.emit("reset", {
            "name": game_name
        });
    }
</script>