$columns: 40;
$rows: 40;
$cell-dimension: 40px;

// ********** COLORS ********** //

$primary-blue: #0057F9;
$primary-yellow: #FAD96E;
$gradient-color: $primary-yellow;
$off-white: lighten(antiquewhite, 10%);
$off-black: darken(antiquewhite, 95%);

// ********** NORMALIZE ********** //
html,
body {
  padding: 0px;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-image: url('/assets/chalkboard-background.jpg');
  background-size: cover;
  color: $off-white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin flexbox() {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

@mixin pos-a-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pos-a {
  position: absolute;
}

.pos-r {
  position: relative;
}

.flex {
  @include flexbox();
}

// ********** FONT IMPORTS ********** //
@import url('https://fonts.googleapis.com/css?family=Gaegu:wght@300;400;700&family=Schoolbell&display=swap');

// Eraser font
@font-face {
  font-family: 'eraser';
  src: url("/assets/fonts/EraserRegular-DO1D.ttf");
  font-style: 'normal';
  font-weight: 'normal';
}

@font-face {
  font-family: 'eraser';
  src: url("/assets/fonts/EraserDust-p70d.ttf");
  font-style: 'italic';
  font-weight: 'normal';
}

@font-face {
  font-family: 'ten-thousand-reasons';
  src: url("/assets/fonts/KgTenThousandReasons-R1ll.ttf");
  font-style: 'normal';
  font-weight: 'normal';
}

@font-face {
  font-family: 'stamp';
  src: url("/assets/fonts/KGThankYouStamp.ttf");
  font-style: 'normal';
  font-weight: 'normal';
}



// ********** PAGE FONTS ********** //

h1,
h2,
h3,
h4,
h5 {
  font-family: 'eraser', arial, sans-serif;
}

h1,
h2 {
  font-size: 5em;
  letter-spacing: .15em;
  margin: 0px;
  text-align: center;
  font-weight: normal;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-family: 'gaegu', arial, sans-serif;
  font-size: 1.5em;
  text-align: center;
  font-weight: normal;
}

p.caption {
  font-size: 1.4em;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


button {
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  font-family: 'Gaegu';
  font-size: 26px;


  &.primary {
    background-color: $primary-yellow;
    color: $off-black;
    transition: background-color 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);

    &:hover {
      background-color: lighten($primary-yellow, 10%);
    }
  }

  &.secondary {
    background-color: transparent;
    color: white;
    transition: all 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);

    &:hover {
      background-color: white;
      color: $off-black;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);

  background-color: rgba($off-black, 0.5);
  display: block;
  opacity: 1;
  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 200;
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 50vh;
  background-color: #fff;
  color: $off-black;
  transform: translate(-50%, -50%);
  z-index: 201;
  border-radius: 10px;
  background-color: $off-white;
  @include flexbox();
  box-shadow: 20px 20px 30px $off-black;

  .content {
    @include flexbox();
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    margin: 0px 30px;
    text-align: center;

    .buttons {
      @include flexbox();
      justify-content: space-between;
    }
  }
}
