<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bananagrams</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/css/normalize.css') }}" /> -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/css/styles.css') }}" />

</head>

<body>
    <div class="game-container" id="css3-background-texture">
        <div class="landing flex">
            <h1>Chalkful</h1>
            <p class="caption">
                Welcome to Chalkful, the destination for Bananagrams online! Once you start, you will recieve a URL to share with your friends so they can join.
            </p>
            <input id="game_id" type="text" readonly>
            <button id="game_id_submit" class="btn btn-primary" type="submit" onclick="createGame()">Create New Game</button>
            <div id="error"></div>
        </div>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    $.ajax({
        url: "/api/get_names",
    }).done(function (res) {
        var used_ids = res["ids"];
        var rand_id = generate_id();

        while (used_ids.includes(rand_id)) {
            rand_id = generate_id()
        }

        document.getElementById("game_id").value = rand_id;
    });


    function generate_id() {
        var min = 0;
        var max = 999999;
        var random = Math.floor(Math.random() * (+max - +min)) + +min;
        return random;
    }

    function createGame() {
        $.ajax({
            url: "/api/get_names",
            async: false,
        }).done(function (res) {
            var used_ids = res["ids"];
            console.log(used_ids);
            var input_name = document.getElementById("game_id").value;
            console.log(input_name);
            if (used_ids.includes(input_name)) {
                document.getElementById("error").innerHTML = "ID already in use, choose another"
            }
            else {
                console.log("Success")
                window.location.href = "/game/" + input_name;
            }
        });
    }

    // --------------------------------------
    // Keybindings

    // Game ID enter
    var input = document.getElementById("game_id");

    // Execute a function when the user releases a key on the keyboard
    input.addEventListener("keyup", function (event) {
        // Number 13 is the "Enter" key on the keyboard
        if (event.keyCode === 13) {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            $("game_id_submit").click();
        }
    });
</script>

</html>