<div id="game_over">
    <div class="game-menu">
        <div id="buttons_endgame">
            <button class="btn btn-primary" type="submit" onclick="reset()">Start New Game</button>
            <button class="btn btn-primary" type="submit" onclick="continue_game()">Continue Game</button>
        </div>
    </div>
    <div id="game_over">
        <h3>Game Over...?</h3>
        <p id="winning_player"></p>
        <strong>The winning players words:</strong>
        <div id="winning_words"></div>
    </div>
</div>